[project]
	description = customize Apache Hadoop docker image from big-data-europe
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/thuongle2210
[access "refs/for/refs/*"]
	read = group user/thuongle2210
	push = group user/thuongle2210
	label-Code-Review = -2..+2 group user/thuongle2210
	label-Verified = -1..+1 group user/thuongle2210
	rebase = group user/thuongle2210
	removeReviewer = group user/thuongle2210
	submit = group user/thuongle2210
[access "refs/heads/*"]
	read = group user/thuongle2210
	create = group user/thuongle2210
	push = +force group user/thuongle2210
	pushMerge = group user/thuongle2210
[access "refs/tags/*"]
	push = group user/thuongle2210
	push = +force group user/thuongle2210
